[user]
	name = yama-sitter
	email = {{ .email }}
	signingkey = {{ .gpg_key }} 
[core]
  editor = nvim -u ~/.config/nvim/init.lua
[init]
  defaultBranch = main
[pager]
  log = {{ .git_diff_highlight_path }}/diff-highlight | less
  show = {{ .git_diff_highlight_path }}/diff-highlight | less
  diff = {{ .git_diff_highlight_path }}/diff-highlight | less
  difftool = true
[fetch]
  prune = true
[pull]
  # pullの前に未コミットの変更をstashし、pullが終わったらpopする
  autostash = true
[rebase]
  # rebaseの前に未コミットの変更をstashし、pullが終わったらpopする
  autostash = true
[commit]
  # コミット時に開かれるエディタで差分を全て表示する
  verbose = true
  gpgsign = true
[push]
  # 現在いるブランチと同じ名前のブランチ（リモートリポジトリ）に対してpushする
  default = current
[diff]
  tool = difftastic
  external = difft
	algorithm = histogram
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[url "git@github.com:"]
  # HTTPSのURLをSSHのURLに置き換える
	insteadOf = "https://github.com/"
[alias]
  p = push
  st = status
  ss = status -s
  br = branch
  co = checkout
  cb = checkout -b
  ci = commit
  cm = commit -m
  cancel = reset --soft HEAD^
	ac = !git add -A && aicommits -a
  rb = !git rebase -i $(git merge-base $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') HEAD)
[ghq]
	root = ~/Sources
