[user]
	name = yama-sitter
	email = {{ .email }}
[core]
  editor = nvim -u ~/.config/nvim/init.lua
[pager]
  log = {{ .git_diff_highlight_path }}/diff-highlight | less
  show = {{ .git_diff_highlight_path }}/diff-highlight | less
  diff = {{ .git_diff_highlight_path }}/diff-highlight | less
[fetch]
  prune = true
[commit]
  verbose = true
[ghq]
	root = ~/Sources
[alias]
  st = status
  ss = status -s
  br = branch
  co = checkout
  ci = commit
  cancel = reset --soft HEAD^
	ac = !git add -A && aicommits -a

